.content {
    text-align: center;
    position: relative;
  }
  
  .content .illustration {
    /* max-width: 250px; */
    width: 626px;
    margin-bottom: 20px;
  }
  
  .content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
  }
  
  .content p {
    font-size: 1rem;
    /* margin: 10px 0; */
    font-family: system-ui;
    font-weight: 600;
    color: rgba(41, 41, 41, 1);
  }
  
   .encryption-info {
  position: absolute;
  bottom: -87px;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: rgba(41, 41, 41, 1);
  }